<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44115880502-8vaip373g136co4c3kmvioq98mk1kio6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44115880502-8vaip373g136co4c3kmvioq98mk1kio6</string>
	<key>API_KEY</key>
	<string>AIzaSyDLOzgELlt5LMJPZLiDYjuSkoNIDK8CY0g</string>
	<key>GCM_SENDER_ID</key>
	<string>44115880502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunflower.nyayaSahaya.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nyayasahaya-sunflower</string>
	<key>STORAGE_BUCKET</key>
	<string>nyayasahaya-sunflower.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44115880502:ios:64543426efa33de5234697</string>
</dict>
</plist>